.FirstSection {
  position: relative;

  height: 120vh;

  @media (orientation: landscape) and (max-width: 700px) {
    height: 150vh;
  }

  @media (min-height: 700px) {
    height: 100vh;
  }

  @media (min-width: 768px) and (max-width: 1100px) {
    height: 75vh;
  }

  background-image: url("../../assets/island-1.jpg");
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;
  & .overlay {
    height: 120vh;

    @media (orientation: landscape) and (max-width: 700px) {
      height: 150vh;
    }

    @media (min-height: 700px) {
      height: 100vh;
    }

    @media (min-width: 768px) and (max-width: 1100px) {
      height: 75h;
    }

    background-color: rgba(167, 221, 216, 0.473);

    z-index: 1;

    & .info {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 80vw;

      padding: 30px 40px 50px 40px;

      color: $white;
      background-color: $blue-main;

      transform: translate(-50%, -50%);
      border-radius: $brr;
      transition: 1s;

      @media (min-width: 1200px) {
        top: 100vh;

        width: 50vw;

        &.active {
          top: 50vh;
        }
      }

      & h3 {
        font-size: 23px;

        @media (min-width: 1200px) {
          font-size: 30px;
        }
      }

      & p {
        margin: 30px 0 40px;

        text-align: left;
        letter-spacing: 1px;

        font-size: 15px;

        @media (min-width: 576px) {
          font-size: 18px;
        }

        @media (min-width: 1200px) {
          font-size: 20px;
        }
      }

      & button {
        color: $blue-main;
        background-color: $white;

        padding: 10px 25px;
        border: none;
        border-radius: 7px;

        font-size: 12px;

        transition-duration: $trd;
        cursor: pointer;

        & i {
          margin-left: 10px;
        }

        @media (min-width: 576px) {
          font-size: 15px;
        }

        @media (min-width: 1200px) {
          font-size: 18px;

          &:hover {
            background-color: $nearly-black;
          }
        }
      }
    }
  }
}
