@import url("https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Julius+Sans+One&display=swap");

.App {
  font-family: "Cantarell", "Helvetica Neue", Arial, Helvetica, Geneva,
    sans-serif;
  max-width: 100vw;
  overflow: hidden;
}
